*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
    color: #fff;
}

.list-container{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin-inline: auto;
    flex-wrap: wrap;
}

.list-container li{
    background-color: red;
    list-style: none;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.list-item{
    cursor: pointer;
}

.list-container li