*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
}

h1{
    line-height: 10rem;
}

.list-container{
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 60%;
    margin-inline: auto;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.list-container li{
    list-style: none;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.list-item{
    cursor: pointer;
}