html{
    font-size: 62.5%
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #171a21;
    overflow: hidden;
    color: #fff;
    user-select: none;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}