html {
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #0f0f0f;
    color: #fff;
    font-size: 1.6rem;
}

img{
    width: 100%;
    display: block;
}
